<div id="<%= dom_id blob %>">
  <p>
    <strong>Sha256:</strong>
    <%= blob.sha256 %>
  </p>
  <p>
    <strong>Contents?:</strong>
    <%= blob.contents.present? %>
  </p>
  <p>
    <strong>Size:</strong>
    <%= number_to_human_size blob.size %>
  </p>
  <p>
    <strong>Versions:</strong>
    <%= blob.version_data_entries.count %>
  </p>
  <p>
    <strong>Compression:</strong>
    <%= blob.compression %>
  </p>
</div>
