<div id="<%= dom_id blob %>">
  <p>
    <strong>Sha256:</strong>
    <%= blob.sha256 %>
  </p>

  <p>
    <strong>Contents:</strong>
    <%= blob.contents %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= blob.size %>
  </p>

  <p>
    <strong>Compression:</strong>
    <%= blob.compression %>
  </p>

</div>
