<p style="color: green"><%= notice %></p>
<%= render @server %>
<p>Rubygems: <%= @server.rubygems.count.to_fs(:delimited) %></p>
<p>Versions: <%= @server.versions.count.to_fs(:delimited) %></p>
<p>Indexed versions: <%= @server.versions.where(indexed: true).count.to_fs(:delimited) %></p>
<% if @rubygems.any? %>
  <h2>Rubygems</h2>
  <%= render @rubygems %>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
<% end %>
<div>
  <%= link_to "Back to servers", servers_path %>
</div>
