<p style="color: green"><%= notice %></p>

<%= render @server %>

<div>
  <%= link_to "Edit this server", edit_server_path(@server) %> |
  <%= link_to "Back to servers", servers_path %>

  <%= button_to "Destroy this server", @server, method: :delete %>
</div>
