<div id="<%= dom_id version %>">
  <p>
    <strong>Rubygem:</strong>
    <%= version.rubygem_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= version.number %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= version.platform %>
  </p>

  <p>
    <strong>Spec sha256:</strong>
    <%= version.spec_sha256 %>
  </p>

  <p>
    <strong>Sha256:</strong>
    <%= version.sha256 %>
  </p>

  <p>
    <strong>Metadata:</strong>
    <%= version.metadata %>
  </p>

</div>
